.prof-img img {
  width: 250px;
  height: 250px;
  border-radius: 7px;
  box-shadow: -1px -1px 13px 0px rgba(0, 0, 0, 1);
}
.prof-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prof-match {
  text-align: center;
}
.prof-bookings{
  border: 1px solid var(--bgd);
  background-color: var(--bg);
  color: var(--acd);
  border-radius: 2px;
  width: 100%;
  text-align: center;
  margin: 5px;
  padding:10px 5px 10px 5px;
  transition: 100ms;
  user-select: none;
  font-weight: bold;
}
.prof-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}